audit=false
fund=false
legacy-peer-deps=true
registry=http://npm.yandex-team.ru
save-exact=true
scripts-prepend-node-path=true
unsafe-perm=true
update-notifier=false
user-agent=npm/10.9.0 (verdaccio yandex canary)
